body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D8F4F4 !important;
    color: #333333;
    line-height: 1.6;
}

.header-section {
    text-align: center;
    background-color: #D8F4F4;
    padding: 20px 0;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-section h1 {
    color: rgb(70, 0, 250);
    font-size: 4em;
    margin: 0;
}

.faq-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
   font-size: 1.5rem;
}

.faq-item {
    background-color: rgba(0, 100, 255, 0.05);
    padding: 15px;
    border-left: 5px solid rgba(0, 100, 255, 0.5);
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.faq-item .question {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: rgb(0, 100, 255);
}

.faq-item .answer {
    font-size: 1em;
    color: #555555;
}

@media (max-width: 768px) {
    .header-section h1 {
        font-size: 2rem;
    }

    .faq-item {
        padding: 10px;
    }

    .faq-item .question {
        font-size: 1em;
    }

    .faq-item .answer {
        font-size: 0.9em;
    }
}
html{
background-color: black ! important;
}
.navbar-brand {
  color: rgb(0, 100, 255);
  font-family: 'Lobster', sans-serif;
}
body {
    font-family: 'Chewy', sans-serif !important;
}
