.nanu{
font-size: 9vw;
font-weight: 700;
text-align: center;
color:  rgb(0 , 100 , 255);
}
.welcome{
 font-size: 8vw;
 font-weight: 700;
 text-align: center;
 color:  rgb(0 , 100 , 255);
}
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}
.navbar-brand{
 color:  rgb(0 , 100 , 255);
}
.images{
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 100vh;     
  gap: 10px;
}

.img {
  max-width: 50%;
  max-height: 50%;
  border: 1vw solid rgb(0, 100, 255);
  border-radius: 30px;
 gap: 10px;
}
